name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - uses: dtolnay/rust-toolchain@stable

      - name: Install plz
        run: uv tool install plzplz

      - run: uv sync

      - name: Check
        run: plz check

      - name: Test
        run: plz test_all
